RecentItemsDisplayNoGrass\bin
RecentItemsDisplayNoGrass\obj
.vs/RecentItemsDisplayNoGrass/FileContentIndex/d6d9837f-f9b0-4b64-9345-ca3ac6374ad9.vsidx
.vs/RecentItemsDisplayNoGrass/FileContentIndex/c7864338-55a1-4345-b730-89bd86440690.vsidx
.vs/RecentItemsDisplayNoGrass/v17/.suo
